@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body {
    font-family: "Mulish", sans-serif;
    /* background: url("./assets/bg-shape.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -400px top; */
  }
}

.bg {
  background: url("./assets/bg-shape.svg");
  background-size: fill;
  background-repeat: no-repeat;
  background-position: left top;
}
